<h1>ACCOUNTING WEB APPLICATION</h1>


<h3>use this link to add the client and project:<a href = "http://127.0.0.1:9900/admin/" >To add clients and Projects</a></h3>
<h3>use this link to view the clients details:<a href = "http://127.0.0.1:9900/clients/" > To view Clients </a></h3>
<h3>use this link to view the projects details:<a href = "http://127.0.0.1:9900/projects/" > To view Projects </a></h3>
<h3>use this link to view the total analysis:<a href = "http://127.0.0.1:9900/total/" > total </a></h3>

<br>
<h3>Please use this port id:127.0.0.1:9900</h3>
<br>
<h3>Admin username: manoj</h3>
<h3>Admin password: manoj</h3>